<div class="page-heading">
    <p >
        About Us
    </p>
</div>
<img class="banner_image" src="/assets/images/banners/about_us.jpg"/>
<div class="aboutus-content">
    <h1 class="aboutus-title">
        Smart Security, Simply Done.
    </h1>
    <p class="aboutus-description">
        For over 20 years, WatchGuard has pioneered cutting-edge cyber security technology and delivered it as easy-to-deploy and easy-to-manage solutions. With industry-leading network and endpoint security, secure Wi-Fi, multi-factor authentication, and network intelligence products and services, WatchGuard enables more than 80,000 small and midsize enterprises from around the globe to protect their most important assets including over 10 million endpoints. In a world where the cyber security landscape is constantly evolving, and new threats emerge each day, WatchGuard makes enterprise-grade cyber security technology accessible for every company. WatchGuard is headquartered in Seattle, Washington, with offices throughout North America, Europe, Asia Pacific, and Latin America.
    </p>
    <div style="display: flex; justify-content: space-around;">
        <button mat-button class="banner-button"> 
            <mat-icon >article</mat-icon>
            Watchguard Brochure</button>
    </div>
    
</div>
